<h1>Sign Up form</h1>

<%= form_with model: @user do |f| %>
  <%= f.label :username, "Username: " %>
  <%= f.text_field :username, placeholder: 'Add your nickname here!' %> <br><br>

  <%= f.submit %>
<% end %>